{% extends "base.html" %}

{% block content %}
	<h1>Create your account</h1>

	<style>
		.form-group {
		    margin-bottom: 15px;
		    text-align: left;
		}

		.form-group label {
		    display: block;
		    margin-bottom: 5px;
		    color: #08192e;
		}

		.form-group input {
		    width: calc(100% - 20px);
		    padding: 10px;
		    margin-bottom: 5px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    box-sizing: border-box;
		}

		.button {
		    display: inline-block;
		    padding: 10px 20px;
		    margin-top: 10px;
		    background-color: #c84d74;
		    color: #fff;
		    border: none;
		    border-radius: 5px;
		    font-size: 16px;
		    font-weight: bold;
		    cursor: pointer;
		    transition: background-color 0.3s, color 0.3s;
		}

		.button:hover {
		    background-color: #813e72;
		    color: #fff;
		}
	</style>

	{% if form.errors %}
		<p role="alert">There was an error with your form. Try again...</p>
    {% endif %}	
	
	<form action="{% url 'signup_user' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <input type="submit" value="Submit" class="button">
    </form>

{% endblock content %}